.scrapify-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}

// grid
.upload-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 40px;
}

.left-grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 90vh;
}

.upload-sec {
  width: 100%;
  height: 100%;
}

.upload-txt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  border-radius: 16px;
  border: 1.5px dashed #000;
  background: #fff;
  box-shadow: 0px 14px 54px 0px rgba(0, 0, 0, 0.03);
}

.img-preview {
  width: 100%;
  height: 100%;
}

.upload-btn {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background: #231f20;
  box-shadow: 0px 14px 54px 0px rgba(0, 0, 0, 0.03);
  border: none;
  color: #fff;
  font-size: 17px;
}

// right-grid
.right-grid {
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  overflow-y: auto;
}

.u-img-name {
  font-size: 26px;
  font-weight: 600;
}

.u-img-desc {
  font-size: 14px;
  font-weight: 400;
}

.u-img-head {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.attributes {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.attribute {
  background-color: var(--txt);
  color: #fff;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 14px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.tab {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 20px 36px;
  border-radius: 10px;
}

.yellow {
  background: rgba(255, 214, 107, 0.31);
  color: #ffbb0b;

  svg {
    fill: #ffbb0b;
  }
}

.green {
  background: rgba(85, 201, 96, 0.12);
  color: #55c960;

  svg {
    fill: #55c960;
  }
}

.blue {
  background: rgba(91, 147, 255, 0.12);
  color: #5b93ff;

  svg {
    fill: #5b93ff;
  }
}

/*sell tabs*/
.tab-container {
  width: 100%;
  margin-top: -20px;
  display: flex;
  gap: 20px;
  padding: 20px 40px;

  .tabs-selector {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    padding: 16px;
    gap: 14px;
  }

  .tabs {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
  }

  .tab-select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
  }

  .tab-active {
    background-color: #272727;
    color: #ffff;
  }

  .tab-expander {
    width: 100%;
    height: 220px;
    background: #fff;
    box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    display: flex;
    gap: 16px;
    padding: 16px;
  }

  .tab-expander-left {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
  }

  .tab-input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    border: solid 2px #2727271b;
  }

  .tab-btn {
    width: 200px;
    background-color: #272727;
    color: #ffff;
    cursor: pointer;
  }
}

// creative-box
.creative-box{
  width: 100%;
  display: flex;
  background-color: transparent;
  height: 200px;
  padding: 0px 40px;
  margin-bottom: 40px;
  gap: 20px;
}

.creative-left{
  min-width: 200px;
  height: 100%;
  border: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  background: linear-gradient(135deg, #868CFF 0%, #5B93FF 100%);
  cursor: pointer;
}

.creative-right{
  font-size: 15px;
  height: 100%;
  font-weight: 400;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  overflow-y: auto;
  line-height: 1.5rem;
}
//responsive
@media (max-width: 800px) {
  .upload-txt {
    height: 300px;
  }
  .upload-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  .left-grid {
    margin-bottom: 20px;
  }
}
