a{
    text-decoration: none;
    color: #000;
}

.product-card {
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* shadow */
  box-shadow: 0px -0.083px 2.214px 0px rgba(0, 0, 0, 0.02),
    0px -0.2px 5.32px 0px rgba(0, 0, 0, 0.03),
    0px -0.376px 10.017px 0px rgba(0, 0, 0, 0.04),
    0px -0.67px 17.869px 0px rgba(0, 0, 0, 0.04),
    0px -1.253px 33.422px 0px rgba(0, 0, 0, 0.05);

   text-decoration: none;
   position: relative;
}

.product-top {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.location-icon {
  position: absolute;
  top: 26px;
  right: 26px;
  height: 40px;
  max-width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-size: 12px;
  color: #fff;
  padding: 8px 10px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 30px;

  svg {
    fill: #fff;
  }
}

.product-bottom {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.p-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buy-btn {
  padding: 10px 15px;
  font-size: 14px;
  background-color: var(--txt);
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
}

.p-price {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rupee {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(85, 201, 96, 0.12);
  color: #55c960;
}

.p-top {
  font-weight: 500;
  font-size: 20px;
}
